<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTMX Almanac</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/c2b6fd3803.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./site.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                HTMX Almanac
            </h1>
            <div class="columns">
                <div class="column is-half">
                    <div>
                        <h2 class="title has-text-primary-15">Tides</h2>
                        <div hx-get="/api/tides" hx-trigger="load" hx-indicator="#tide-spinner">
                            <div id="tide-spinner" class="spinner htmx-indicator box">
                                <progress class="progress is-large is-info" max="100">Requesting tides</progress>
                            </div>
                        </div>
                        <h2 class="title has-text-primary-15">Weather</h2>
                        <div hx-get="/api/weather" hx-trigger="load" hx-indicator="#weather-spinner">
                            <div id="weather-spinner" class="spinner htmx-indicator box">
                                <progress class="progress is-large is-info" max="100">Requesting weather</progress>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <div>
                        <h2 class="title has-text-primary-15">Bank Holidays</h2>
                        <div hx-get="/api/bank-holidays" hx-trigger="load" hx-indicator="#bh-spinner">#
                            <div id="bh-spinner" class="spinner htmx-indicator box">
                                <progress class="progress is-large is-info" max="100">Requesting bank
                                    holidays</progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="content has-text-centered">
                    Typescript backend running on
                    <strong><a href="https://developer.fermyon.com/spin/v3/index">Spin</a></strong>
                    with an <strong><a href="https://htmx.org/" target="_blank">HTMX</a></strong> frontend
                    using <strong><a href="https://bulma.io/" target="_blank">Bulma</a></strong> CSS <br />
                    Tide times from <a href="https://www.tidetimes.org.uk/" target="_blank">www.tidetimes.org.uk</a>,
                    weather from <a href="https://www.accuweather.com/" target="_blank">www.accuweather.com</a>,
                    bank holidays from <a href="https://www.gov.uk/bank-holidays/" target="_blank">www.gov.uk</a>
                </div>
            </footer>
        </div>
    </section>
</body>

</html>